body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chat-container {
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chatbox {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin-bottom: 10px;
}

input {
    width: 70%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

button {
    width: 15%;
    padding: 8px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.send-button {
    font-size: 1.25em;

    margin-top: 8px;
    padding: 0;
}

.user-message, .bot-message {
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 80%;
}

.user-message {
    background-color: #e0f7fa;
    align-self: flex-end;
    order: 2;
}

.bot-message {
    background-color: #e8eaf6;
}

.chatbox {
    display: flex;
    flex-direction: column;
}